@import "stuff/variables";

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}

#navBar{
    position: relative;
    width: 100%;
    background-color: #2874AB;
    #navImgContainer{
        position: relative;
        margin-left: 1%;
        min-height: 100%;
        display: table;
        img{
            display: table-cell;
            position: relative;
            width: 60%;
            vertical-align: middle;
            width: 25%;
        }
    }
}