/* line 3, ../sass/informatik.scss */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* line 11, ../sass/informatik.scss */
#navBar {
  position: relative;
  width: 100%;
  background-color: #2874AB;
  height: 12%;
}
/* line 16, ../sass/informatik.scss */
#navBar #navImgContainer {
  position: relative;
  margin-left: 1%;
  height: 100%;
  width: 18%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url("../images/windows.png");
}
